[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cached-property="*"
cfgv="*"
identify="*"
nodeenv="*"
pyyaml="*"
six="*"
toml="*"
virtualenv="*"

[dev-packages]
"pre_commit" = {path = ".", editable = true}
coverage="*"
flake8="*"
mock="*"
pytest="*"
pytest-env="*"

[requires]
python_version = "3.7"
